@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PaySim</h1>
    <p>Start Transacting <a asp-area="" asp-page="/Home">here</a>.</p>
</div>
