@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PaySim</h1>
    <img src="./images/paysim-wallet.png" width="300" />
    <p>Start transacting <a asp-area="" asp-page="/Home">here</a>.</p>
</div>
